<div class="widget layout-two-columns none  widget-emphasis" id="48e48f58-e7d5-4712-8c1c-16ae4ab300a0">
    <div class="wrapped ">
        <div class="widget-body body body-emphasis ">
            <div class="pb-columns row-fluid ">
                <div class="width_1_3">
                    <div data-pb-dropzone="left" class="pb-autoheight">
                        <div class="widget literatumCoverDisplayWidget alignCenter  widget-none" id="03c72dbc-5585-4696-8fc2-1e1a796a0908">
                            <div class="wrapped ">
                                <div class="widget-body body body-none ">
                                    <div class="publicationCoverImage">
                                        <img src="/na101/home/literatum/publisher/liverpool/journals/content/rost/2019/rost.2019.29.issue-1/rost.2019.29.issue-1/20190619/rost.2019.29.issue-1.cover.jpg" alt="Publication Cover" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="width_2_3">
                    <div data-pb-dropzone="right" class="pb-autoheight">
                        <div class="widget general-heading none  widget-none  widget-compact-all" id="1f5a383a-2741-4c20-a488-fbf02f92eaac">
                            <div class="wrapped ">
                                <div class="widget-body body body-none  body-compact-all">
                                    <div class="page-heading">
                                        <h1>Romani Studies</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget general-heading none  widget-none  widget-compact-all" id="b2c518e9-b04e-47c1-b79e-47926d66de2e">
                            <div class="wrapped ">
                                <div class="widget-body body body-none  body-compact-all">
                                    <div class="page-heading">
                                        <h1></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget literatumSerialDetails none  widget-none  widget-compact-horizontal" id="f0604151-bd03-48e2-9e43-38407dc842cc">
                            <div class="wrapped ">
                                <div class="widget-body body body-none  body-compact-horizontal">
                                    <span class="serial-item serialDetailsIssn">
                    <span class="serial-title">Print ISSN:</span> 1528-0748
                                    </span>
                                    <span class="serial-separator"></span>
                                    <span class="serial-item serialDetailsEissn">
                    <span class="serial-title">Online ISSN:</span> 1757-2274
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="widget layout-two-columns none  widget-none  widget-compact-all" id="89953490-58b6-4917-bbf5-8a37f45fe4e6">
                            <div class="wrapped ">
                                <div class="widget-body body body-none  body-compact-all">
                                    <div class="pb-columns row-fluid ">
                                        <div class="width_1_3">
                                            <div data-pb-dropzone="left" class="pb-autoheight">
                                                <div class="widget general-html none  widget-none  widget-compact-all" id="ac73f11d-869d-48f7-bf64-827ad66dc93c">
                                                    <div class="wrapped ">
                                                        <div class="widget-body body body-none  body-compact-all">
                                                            <ul>
                                                                <li>
                                                                    <a href="/toc/rost/current">Current issue</a>
                                                                </li>
                                                                <li><a href="/loi/rost">List of issues</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="width_2_3">
                                            <div data-pb-dropzone="right" class="pb-autoheight">
                                                <div class="widget general-html none  widget-none  widget-compact-all" id="433ff597-55d2-4087-a0f5-0d81851ab367">
                                                    <div class="wrapped ">
                                                        <div class="widget-body body body-none  body-compact-all">
                                                            <ul>
                                                                <li>
                                                                    <a href="http://ebiz.turpin-distribution.com/products/235145-romani-studies-print-and-online.aspx" target="_blank">Subscribe</a
                                  >
                                </li>
                                <li>
                                  <a href="#info" target="_self"
                                    >Journal Information</a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="/action/doUpdateAlertSettings?action=addJournal&amp;journalCode=rost"
                                    >Get TOC alerts</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>