{% extends "Journal/base.html" %}
{% block content %}

            <div class="widget pageBody none  widget-none  widget-compact-all" id="f1e3800b-faee-4429-98d1-0653d2475ce9">
                <div class="wrapped ">
                    <div class="widget-body body body-none  body-compact-all">
                        <!--begin pagefulltext-->
                        <div class="page-body pagefulltext">
                            <div data-pb-dropzone="main">
                                <div class="widget layout-two-columns none  widget-none  widget-compact-all" id="700a1cce-043b-4aea-ba52-8d5e08b258cd">
                                    <div class="wrapped ">
                                        <div class="widget-body body body-none  body-compact-all">
                                            <div class="pb-columns row-fluid gutterless">
                                                <div class="width_3_3">
                                                    <div data-pb-dropzone="left" class="pb-autoheight">
                                                        <div class="widget layout-two-columns none  widget-emphasis" id="48e48f58-e7d5-4712-8c1c-16ae4ab300a0">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-emphasis ">
                                                                    <div class="pb-columns row-fluid ">
                                                                        <div class="width_1_3">
                                                                            <div data-pb-dropzone="left" class="pb-autoheight">
                                                                                <div class="widget literatumCoverDisplayWidget alignCenter  widget-none" id="03c72dbc-5585-4696-8fc2-1e1a796a0908">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none ">
                                                                                            <div class="publicationCoverImage">
                                                                                                <img src="{% static 'Journal/assets/rost.2018.28.issue-2.cover.jpg' %}" alt="Publication Cover" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="width_2_3">
                                                                            <div data-pb-dropzone="right" class="pb-autoheight">
                                                                                <div class="widget general-heading none  widget-none  widget-compact-all" id="1f5a383a-2741-4c20-a488-fbf02f92eaac">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="page-heading">
                                                                                                <h1>Romani Studies</h1>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget general-heading none  widget-none  widget-compact-all" id="b2c518e9-b04e-47c1-b79e-47926d66de2e">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="page-heading">
                                                                                                <h1></h1>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget literatumSerialDetails none  widget-none  widget-compact-horizontal" id="f0604151-bd03-48e2-9e43-38407dc842cc">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-horizontal">
                                                                                            <span class="serial-item serialDetailsIssn">
                                          <span class="serial-title"
                                            >Print ISSN:</span
                                          >
                                          1528-0748</span
                                        >
                                        <span class="serial-separator"></span>
                                                                                            <span class="serial-item serialDetailsEissn">
                                          <span class="serial-title"
                                            >Online ISSN:</span
                                          >
                                          1757-2274</span
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="widget layout-two-columns none  widget-none  widget-compact-all"
                                    id="89953490-58b6-4917-bbf5-8a37f45fe4e6"
                                  >
                                    <div class="wrapped ">
                                      <div
                                        class="widget-body body body-none  body-compact-all"
                                      >
                                        <div class="pb-columns row-fluid ">
                                          <div class="width_1_3">
                                            <div
                                              data-pb-dropzone="left"
                                              class="pb-autoheight"
                                            >
                                              <div
                                                class="widget general-html none  widget-none  widget-compact-all"
                                                id="ac73f11d-869d-48f7-bf64-827ad66dc93c"
                                              >
                                                <div class="wrapped ">
                                                  <div
                                                    class="widget-body body body-none  body-compact-all"
                                                  >
                                                    <ul>
                                                      <li>
                                                        <a
                                                          href="issue.html"
                                                          >Current issue</a
                                                        >
                                                      </li>
                                                      <li>
                                                        <a href="book.html"
                                                          >List of issues</a
                                                        >
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="width_2_3">
                                            <div
                                              data-pb-dropzone="right"
                                              class="pb-autoheight"
                                            >
                                              <div
                                                class="widget general-html none  widget-none  widget-compact-all"
                                                id="433ff597-55d2-4087-a0f5-0d81851ab367"
                                              >
                                                <div class="wrapped ">
                                                  <div
                                                    class="widget-body body body-none  body-compact-all"
                                                  >
                                                    <ul>
                                                      <li>
                                                        <a
                                                          href="http://ebiz.turpin-distribution.com/products/235145-romani-studies-print-and-online.aspx"
                                                          target="_blank"
                                                          >Subscribe</a
                                                        >
                                                      </li>
                                                      <li>
                                                        <a
                                                          href="#info"
                                                          target="_self"
                                                          >Journal
                                                          Information</a
                                                        >
                                                      </li>
                                                      
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                          
                      <div
                        class="widget literatumListOfIssuesWidget none  widget-regular  widget-border-toggle"
                        id="bfdb2148-cd1f-48a3-819d-875f48b12e75"
                      >
                        <div class="wrapped ">
                          <h1
                            class="widget-header header-regular  header-border-toggle"
                          >
                            Available Content
                          </h1>
                          <div
                            class="widget-body body body-regular  body-border-toggle"
                          >
                            <div
                              class="iconKeyDropZone"
                              data-pb-dropzone="iconKeyDropZone"
                              style="float:right;width:50%;padding-top: 0px"
                            ></div>
                            <div class="volume-list">
                              <div
                                class="volume-list decade slider opened"
                                id="4028"
                              >
                                <a
                                  href="#"
                                  data-attr-vol="2010"
                                  class="title opener"
                                  >2010 - 2018</a
                                >
                                <div
                                  class="block expandable years issues expandedDiv"
                                >
                                  <div
                                    class="volume-list slider opened"
                                    id="28"
                                  >
                                    <a
                                      class="opener"
                                      data-attr-vol="28"
                                      href="#"
                                      >Volume 28</a
                                    >
                                    <div class="block">
                                      <div
                                        class="issue row js_issue"
                                        data-year="2018"
                                        data-volume="28"
                                      >
                                        <span class="access loiAccessIconSpan">
                                          <img
                                            src="{% static 'Journal/assets/access_no.gif' %}"
                                            alt="No Access"
                                            title="No Access"
                                            class="accessIcon noAccess"
                                          />
                                        </span>
                                                                                            <a href="issue.html">
                                          Volume 28, Issue 2
                                        </a>
                                                                                            <span class="loiIssueCoverDateText">
                                          (December 2018,
                                        </span>
                                                                                            <span class="loiIssuePages">
                                          pp. 157–304).
                                        </span>
                                                                                        </div>
                                                                                        <div class="issue row js_issue" data-year="2018" data-volume="28">
                                                                                            <span class="access loiAccessIconSpan">
                                          <img
                                            src="{% static 'Journal/assets/access_no.gif' %}"
                                            alt="No Access"
                                            title="No Access"
                                            class="accessIcon noAccess"
                                          />
                                        </span>
                                                                                            <a href="issue.html">
                                          Volume 28, Issue 1
                                        </a>
                                                                                            <span class="loiIssueCoverDateText">
                                          (June 2018,
                                        </span>
                                                                                            <span class="loiIssuePages">
                                          pp. 1–155).
                                        </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <script type="text/javascript">
                                                                                    $(document).ready(function() {
                                                                                        var expanded = new Number("1");
                                                                                        var sliders = $(".slider");
                                                                                        var counter = 0;
                                                                                        while (
                                                                                            counter < expanded &&
                                                                                            counter < sliders.length
                                                                                        ) {
                                                                                            $(sliders[counter]).addClass("opened");
                                                                                            counter++;
                                                                                        }
                                                                                    });
                                                                                </script>
                                                                                <script type="text/javascript">
                                                                                    $(document).ready(function() {
                                                                                        var expanded = new Number("1");
                                                                                        var sliders = $(".expandable.issues");
                                                                                        var counter = 0;
                                                                                        while (
                                                                                            counter < expanded &&
                                                                                            counter < sliders.length
                                                                                        ) {
                                                                                            var parent = $(sliders[counter]).closest(
                                                                                                ".issues"
                                                                                            );
                                                                                            $(parent).addClass("expandedDiv");
                                                                                            var elm = parent.prev(".expander");
                                                                                            elm.addClass("open");
                                                                                            var parent1 = $(sliders[counter]).closest(
                                                                                                ".volumes"
                                                                                            );
                                                                                            $(parent1).addClass("expandedDiv");
                                                                                            var elm2 = parent1.prev(".expander");
                                                                                            elm2.addClass("open");
                                                                                            $(sliders[counter]).addClass("expandedDiv");
                                                                                            var elm3 = $(sliders[counter]).prev(
                                                                                                ".expander"
                                                                                            );
                                                                                            elm3.addClass("open");
                                                                                            $(sliders[counter])
                                                                                                .children(".slider")
                                                                                                .first()
                                                                                                .addClass("opened");
                                                                                            counter++;
                                                                                        }
                                                                                    });

                                                                                    function getParent(element, selector) {
                                                                                        var pparent = $(element).parent(selector);
                                                                                        if (
                                                                                            typeof pparent == "undefined" ||
                                                                                            pparent.length == 0
                                                                                        ) {
                                                                                            pparent = getParent(
                                                                                                element.parent(),
                                                                                                selector
                                                                                            );
                                                                                        }
                                                                                        return pparent;
                                                                                    }
                                                                                </script>
                                                                                <input type="hidden" data-year="" data-name="yearQueried" /><input type="hidden" data-volume="" data-name="volumeQueried" />
                                                                            </div>
                                                                            <style type="text/css"></style>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget general-html none  widget-none" id="f87fd1d2-16b8-4ede-ba83-f6bbba7905bb">
                                            <div class="wrapped ">
                                                <div class="widget-body body body-none ">
                                                    <a name="info">
                                                        <h1>Journal Information</h1>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget layout-tabs none  widget-none" id="eb4781ab-f6fa-4f5e-b57c-8668514a5d52">
                                            <div class="wrapped ">
                                                <div class="widget-body body body-none ">
                                                    <div class="tabs tabs-widget " aria-live="polite" aria-atomic="true" aria-relevant="additions">
                                                        <ul class="tab-nav">
                                                            <li class="active" aria-selected="true">
                                                                <a href="#eb4781ab-f6fa-4f5e-b57c-8668514a5d52-58132d06-cf2f-4e31-a696-f4f2aa0cdd9a" title="show Synopsis" aria-selected="false" aria-expanded="false">Synopsis</a
                      >
                    </li>
                    <li class="" aria-selected="false">
                      <a
                        href="#eb4781ab-f6fa-4f5e-b57c-8668514a5d52-b6de7b7c-de82-45a5-9538-313dd15c6659"
                        title="show Editors"
                        aria-selected="false"
                        aria-expanded="false"
                        >Editors</a
                      >
                    </li>
                    <li class="">
                      <a
                        href="#eb4781ab-f6fa-4f5e-b57c-8668514a5d52-f1238ef8-4614-4351-ac74-5508a29fb76d"
                        title="show Submissions"
                        aria-selected="false"
                        aria-expanded="false"
                        >Submissions</a
                      >
                    </li>
                    <li class="">
                      <a
                        href="#eb4781ab-f6fa-4f5e-b57c-8668514a5d52-cbd314ed-9160-4efe-a939-d9c107e93a10"
                        title="show Subscriptions"
                        aria-selected="false"
                        aria-expanded="false"
                        >Subscriptions</a
                      >
                    </li>
                    <li class="">
                      <a
                        href="#eb4781ab-f6fa-4f5e-b57c-8668514a5d52-f1f6c894-fad6-44e6-afa3-1096d5585df0"
                        title="show Contact"
                        aria-selected="false"
                        aria-expanded="false"
                        >Contact</a
                      >
                    </li>
                    <li class="">
                      <a
                        href="#eb4781ab-f6fa-4f5e-b57c-8668514a5d52-f92e7fdf-441e-4081-a265-17b44323a659"
                        title="show Discount packages and collections"
                        aria-selected="false"
                        aria-expanded="false"
                        >Discount packages and collections</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div
                      class="tab-pane active"
                      id="eb4781ab-f6fa-4f5e-b57c-8668514a5d52-58132d06-cf2f-4e31-a696-f4f2aa0cdd9a"
                    >
                      <div
                        class="tab-pane-content"
                        data-pb-dropzone="tab-58132d06-cf2f-4e31-a696-f4f2aa0cdd9a"
                        data-pb-dropzone-name="Synopsis"
                      >
                        <div
                          class="widget general-rich-text none  widget-none"
                          id="61eb1352-e27d-4efd-abef-36684b0be22c"
                        >
                          <div class="wrapped ">
                            <div class="widget-body body body-none ">
                              <div
                                id="rich-text-61eb1352-e27d-4efd-abef-36684b0be22c"
                                class="pb-rich-text"
                              >
                                <p>
                                  <em><strong>Romani Studies</strong></em> is an
                                  international, interdisciplinary journal
                                  publishing modern scholarship in all branches
                                  of <strong>Romani/Gypsy studies</strong>.
                                </p>
                                <p>
                                  Founded in 1888, the
                                  <em
                                    ><strong
                                      >Journal of the Gypsy Lore Society</strong
                                    ></em
                                  >
                                  was published in four series up to 1982. In
                                  2000, the journal became
                                  <em>Romani Studies</em>. Under the sponsorship
                                  of the&nbsp;<a
                                    href="http://www.gypsyloresociety.org"
                                    title="Gypsy Lore Society"
                                    target="_blank"
                                    >Gypsy Lore Society</a
                                  >
                                  (formerly Gypsy Lore Society, North American
                                  Chapter), <em>Romani Studies</em> features
                                  articles on the cultures of groups
                                  traditionally known as Gypsies as well as
                                  Travelers and other peripatetic groups. These
                                  groups include, among others, those referring
                                  to themselves as Ludar, Rom, Roma,
                                  Romanichels, Sinti and Travelers. The journal
                                  publishes articles in history, anthropology,
                                  sociology, linguistics, art, literature,
                                  folklore and music, as well as reviews of
                                  books and audiovisual materials.
                                </p>
                                <p>
                                  <strong
                                    >Beginning with Volume 20 (1), 2010, the
                                    journal is indexed and abstracted
                                    in:</strong
                                  >
                                </p>
                                <p>
                                  America: History and Life, Anthropological
                                  Index Online, Anthropological Literature, Arts
                                  and Humanities Citation Index, Historical
                                  Abstracts, IBZ/IBR, International Bibliography
                                  of the Social Sciences, International Current
                                  Awareness Series, Linguistic Bibliography,
                                  Linguistics and Language Behavior Abstracts,
                                  MLA Bibliography, RILM, Scopus, Sociological
                                  Abstracts and Social Sciences Citation Index.
                                </p>
                                <p>
                                  Current issues of <em>Romani Studies</em> are
                                  also indexed in electronic format by OCLC
                                  FirstSearch and by RLIN's Eureka. Periodicals
                                  Contents Index indexes the tables of contents
                                  of the journal, 1888-1990. These services may
                                  be consulted in libraries.
                                </p>
                                <p>
                                  <strong
                                    >Romani Studies' impact factor was 0.067 in
                                    2016.</strong
                                  >
                                </p>
                                <p>
                                  <strong>Code of Conduct</strong><br /><span
                                    >LUP is committed to maintaining the highest
                                    ethical standards. We therefore ask that all
                                    contributors and reviewers adhere to
                                    the&nbsp;</span
                                  ><a
                                    href="https://publicationethics.org/core-practices"
                                    title="COPE Core Practices"
                                    target="_blank"
                                    >COPE&nbsp;Core Practices</a
                                  >.&nbsp;<br /><span
                                    >More info can be found on the&nbsp;</span
                                  ><a
                                    title="COPE Website"
                                    target="_blank"
                                    href="http://publicationethics.org/"
                                    >COPE website</a
                                  ><span>.</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane"
                      id="eb4781ab-f6fa-4f5e-b57c-8668514a5d52-b6de7b7c-de82-45a5-9538-313dd15c6659"
                    >
                      <div
                        class="tab-pane-content"
                        data-pb-dropzone="tab-b6de7b7c-de82-45a5-9538-313dd15c6659"
                        data-pb-dropzone-name="Editors"
                      >
                        <div
                          class="widget general-html none  widget-none"
                          id="a08691a4-b5dd-4aea-a6a1-e45576d52ff0"
                        >
                          <div class="wrapped ">
                            <div class="widget-body body body-none ">
                              <p>
                                <strong>Editor:</strong> <br />Kimmo Granqvist,
                                Professor, Romani Studies, Center of Baltic and
                                East European Studies, Södertörn University
                                &amp; University Lecturer, University of
                                Helsinki
                              </p>
                              <p><strong> Associate Editor: </strong><br /></p>
                              <p>
                                <strong>Editorial Board: </strong><br />
                                Colin Clark, University of the West of Scotland
                                <br />Slawomir Kapralski, Pedagogical University
                                of Krakow, Pedagogical Faculty<br />Elena
                                Marushiakova, University of St Andrews<br />Tatiana
                                Zachar Podolinská, Slovak Academy of Sciences<br />Veselin
                                Popov, University of St Andrews<br />Carol
                                Silverman, University of Oregon<br />Sofiya
                                Zahova, University of Iceland
                              </p>
                              <p>
                                <strong>Past Editors:</strong><br />
                                Sheila Salo, 1990-1999<br />
                                Yaron Matras, 1999-2017
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane"
                      id="eb4781ab-f6fa-4f5e-b57c-8668514a5d52-f1238ef8-4614-4351-ac74-5508a29fb76d"
                    >
                      <div
                        class="tab-pane-content"
                        data-pb-dropzone="tab-f1238ef8-4614-4351-ac74-5508a29fb76d"
                        data-pb-dropzone-name="Submissions"
                      >
                        <div
                          class="widget general-rich-text none  widget-none"
                          id="2c03eedb-b853-4116-b73f-a641a5a85d56"
                        >
                          <div class="wrapped ">
                            <div class="widget-body body body-none ">
                              <div
                                id="rich-text-2c03eedb-b853-4116-b73f-a641a5a85d56"
                                class="pb-rich-text"
                              >
                                <p>
                                  Download
                                  <a
                                    href="/pb-assets/GLS%20RS%20Editorial%20Policies%20CSedits_KG-1540219111330.pdf"
                                    title="Guidelines for Contributors "
                                    target="_blank"
                                    >Romani Studies Guidelines for
                                    Contributors</a
                                  >
                                </p>
                                <p></p>
                                <p><strong>Correspondence</strong></p>
                                <p>Manuscripts should be sent to the editor:</p>
                                <address>Professor Kimmo Granqvist</address>
                                <address>
                                  Centre for Baltic and East European Studies
                                  (CBEES),
                                </address>
                                <address>Södertörn University</address>
                                <address>Alfred Nobels allé 7&nbsp;</address>
                                <address>141 89 Huddinge</address>
                                <address>Sweden</address>
                                <address>
                                  Email:
                                  <a
                                    href="mailto:romanistudies.journal@gmail.com"
                                    target="_blank"
                                    >romanistudies.journal@gmail.com</a
                                  >&nbsp;
                                </address>
                                <address>
                                  <span color="#0000ee" style="color: #0000ee;"
                                    ><span style="text-decoration: underline;"
                                      ><br /></span
                                  ></span>
                                </address>
                                <address></address>
                                <address>
                                  Books for review should be sent to the book
                                  reviews editor:&nbsp;
                                </address>
                                <address>
                                  Asst. Prof. Małgorzata Kołaczek
                                </address>
                                <address>
                                  Instytut Studiów Międzykulturowych
                                </address>
                                <address>
                                  Uniwersytet Jagielloński w Krakowie
                                </address>
                                <address>Poland</address>
                                <address>
                                  Email:
                                  <a
                                    href="mailto:gokol@o2.pl"
                                    title="gokol@o2.pl"
                                    target="_blank"
                                    >gokol@o2.pl</a
                                  >
                                </address>
                                <address></address>
                                <div></div>
                                <div></div>
                                <p></p>
                                <div>
                                  Download
                                  <a
                                    href="/pb-assets/RS_Editorial%20Policies_corrections-1542801239530.pdf"
                                    title="Romani Studies Editorial Policies "
                                    target="_blank"
                                    >Romani Studies Editorial Policies&nbsp;</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane"
                      id="eb4781ab-f6fa-4f5e-b57c-8668514a5d52-cbd314ed-9160-4efe-a939-d9c107e93a10"
                    >
                      <div
                        class="tab-pane-content"
                        data-pb-dropzone="tab-cbd314ed-9160-4efe-a939-d9c107e93a10"
                        data-pb-dropzone-name="Subscriptions"
                      >
                        <div
                          class="widget general-html none  widget-none"
                          id="65696e60-0389-4deb-84b1-23a4e943691d"
                        >
                          <div class="wrapped ">
                            <div class="widget-body body body-none ">
                              <p>
                                <strong>2019 Subscription Rates</strong
                                ><br /><em
                                  >2 issues per year (standard subscription
                                  includes online access from 2002)</em
                                >
                              </p>
                              <p>
                                <strong>Institutions: </strong> Liverpool
                                University Press operates a tiered pricing
                                system for institutional journal subscriptions,
                                if you are unsure of your institution's tier
                                please contact Megan Ainsworth, Journals
                                Publishing Executive, at
                                <a
                                  href="mailto:m.ainsworth@liverpool.ac.uk"
                                  target="_blank"
                                  title="Megan Ainsworth"
                                  >m.ainsworth@liverpool.ac.uk.
                                </a>
                                                                <br /><a href="http://online.liverpooluniversitypress.co.uk/journalprices" target="_blank">View 2019 prices &gt;</a
                                >
                              </p>
                              <p>
                                <strong>Members:</strong> Romani Studies is
                                available to individuals only through individual
                                <a
                                  href="http://www.gypsyloresociety.org/membership-information"
                                  target="_blank"
                                  title="Gypsy Lore Society membership"
                                  >membership of the Gypsy Lore Society</a
                                >
                                (US$40 per year for an individual membership).
                              </p>
                              <p>
                                For further membership information, contact the
                                Treasurer, Gypsy Lore Society, 5607 Greenleaf
                                Road, Cheverly, MD 20785, USA (email:
                                <a
                                  href="mailto:ssalo@capaccess.org"
                                  target="_blank"
                                  title="Gypsy Lore Society contact"
                                  >ssalo@capaccess.org</a
                                >).
                              </p>
                              <p>
                                <strong>How to subscribe:</strong>
                                <a
                                  href="http://ebiz.turpin-distribution.com/search.aspx?searchterms=romani+studies&amp;idc=&amp;title=&amp;author=&amp;cat=4&amp;pub=501&amp;pf=0&amp;order=0&amp;ind=False&amp;adv=1"
                                  target="_blank"
                                  title="Romani Studies subscribe"
                                  >Order or renew a Romani Studies subscription
                                  online</a
                                >
                              </p>
                              <p>
                                Romani Studies is distributed worldwide for
                                Liverpool University Press by Turpin
                                Distribution. For ordering information contact:
                                <a
                                  href="mailto:Liverpool@turpin-distribution.com"
                                  target="_blank"
                                  title="Turpin Distribution"
                                  >Liverpool@turpin-distribution.com</a
                                ><br />Tel: +44 (0) 1767 604977
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane"
                      id="eb4781ab-f6fa-4f5e-b57c-8668514a5d52-f1f6c894-fad6-44e6-afa3-1096d5585df0"
                    >
                      <div
                        class="tab-pane-content"
                        data-pb-dropzone="tab-f1f6c894-fad6-44e6-afa3-1096d5585df0"
                        data-pb-dropzone-name="Contact"
                      >
                        <div
                          class="widget general-html none  widget-none"
                          id="356bfd20-8fda-4ecf-8223-7df41b02c9e4"
                        >
                          <div class="wrapped ">
                            <div class="widget-body body body-none ">
                              <p>
                                <strong>Book Reviews:</strong> <br />
                                Books for review should be sent to&nbsp;<a
                                  href="mailto:gokol@o2.pl."
                                  target="_blank"
                                  title="Professor Małgorzata Kołaczek"
                                  >Professor Małgorzata Kołaczek</a
                                >.
                              </p>
                              <p>
                                <strong>Advertising:</strong> <br />
                                For enquiries about advertising in Romani
                                Studies, please contact
                                <a href="mailto:moira.reid@liverpool.ac.uk"
                                  >Moira Reid</a
                                >.
                              </p>
                              <p>
                                <strong>Permission Requests:</strong> <br />
                                For permission requests, please contact
                                <a
                                  href="mailto:acond@liverpool.ac.uk"
                                  target="_blank"
                                  title="Anthony Cond Liverpool"
                                  >Anthony Cond</a
                                >.
                              </p>
                              <p>
                                <strong>Editorial Queries:</strong> <br />
                                Editorial correspondence, including articles
                                submitted, should be addressed to&nbsp;<a
                                  href="mailto:kimmo.granqvist@sh.se"
                                  target="_blank"
                                  title="Kimmo Granqvist"
                                  >Kimmo Granqvist</a
                                >.
                              </p>
                              <p>
                                <strong>Sample Copies:</strong><br />
                                For sample copies, please contact
                                <a href="mailto:moira.reid@liverpool.ac.uk"
                                  >Moira Reid</a
                                >.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane"
                      id="eb4781ab-f6fa-4f5e-b57c-8668514a5d52-f92e7fdf-441e-4081-a265-17b44323a659"
                    >
                      <div
                        class="tab-pane-content"
                        data-pb-dropzone="tab-f92e7fdf-441e-4081-a265-17b44323a659"
                        data-pb-dropzone-name="Discount packages and collections"
                      >
                        <div
                          class="widget general-rich-text none  widget-none"
                          id="f4d300b8-e421-4c2f-aea8-1989e4977d86"
                        >
                          <div class="wrapped ">
                            <div class="widget-body body body-none ">
                              <div
                                id="rich-text-f4d300b8-e421-4c2f-aea8-1989e4977d86"
                                class="pb-rich-text"
                              >
                                <p>
                                  Did you know that we offer a range of journal
                                  subject packages and the complete journal
                                  collection to libraries at significant
                                  discounts?
                                </p>
                                <p>
                                  <a
                                    target="_blank"
                                    title="Journal subject packages"
                                    href="/subjectpackages"
                                    >Browse the journal subject packages &gt;</a
                                  >
                                </p>
                                <p>
                                  <a
                                    target="_blank"
                                    title="Journal collections"
                                    href="/journalcollections"
                                    >Browse the complete journal collection
                                    &gt;</a
                                  >
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end pagefulltext-->
    </div>
  </div>
</div>
{% endblock content %}
