{% extends "Journal/base.html" %} {% load static %} {% block content %}
<div class="width_3_3">
                                                    <div data-pb-dropzone="left" class="pb-autoheight">
                                                        <div class="widget layout-two-columns none  widget-emphasis" id="48e48f58-e7d5-4712-8c1c-16ae4ab300a0">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-emphasis ">
                                                                    <div class="pb-columns row-fluid ">
                                                                        <div class="width_1_3">
                                                                            <div data-pb-dropzone="left" class="pb-autoheight">
                                                                                <div class="widget literatumCoverDisplayWidget alignCenter  widget-none" id="03c72dbc-5585-4696-8fc2-1e1a796a0908">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none ">
                                                                                            <div class="publicationCoverImage"> <img src="{% static 'Journal/assets/rost.2018.28.issue-2.cover.jpg' %}" alt="Publication Cover"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="width_2_3">
                                                                            <div data-pb-dropzone="right" class="pb-autoheight">
                                                                                <div class="widget general-heading none  widget-none  widget-compact-all" id="1f5a383a-2741-4c20-a488-fbf02f92eaac">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="page-heading">
                                                                                                <h1>Romani Studies</h1>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget general-heading none  widget-none  widget-compact-all" id="b2c518e9-b04e-47c1-b79e-47926d66de2e">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="page-heading">
                                                                                                <h1></h1>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget literatumSerialDetails none  widget-none  widget-compact-horizontal" id="f0604151-bd03-48e2-9e43-38407dc842cc">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-horizontal"><span class="serial-item serialDetailsIssn">        <span class="serial-title">Print ISSN:</span> 1528-0748</span> <span class="serial-separator"></span> <span class="serial-item serialDetailsEissn">        <span class="serial-title">Online ISSN:</span>                                                                                            1757-2274</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget layout-two-columns none  widget-none  widget-compact-all" id="89953490-58b6-4917-bbf5-8a37f45fe4e6">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="pb-columns row-fluid ">
                                                                                                <div class="width_1_3">
                                                                                                    <div data-pb-dropzone="left" class="pb-autoheight">
                                                                                                        <div class="widget general-html none  widget-none  widget-compact-all" id="ac73f11d-869d-48f7-bf64-827ad66dc93c">
                                                                                                            <div class="wrapped ">
                                                                                                                <div class="widget-body body body-none  body-compact-all">
                                                                                                                    <ul>
                                                                                                                        <li>
                                                                                                                <a href="{% url 'issues' vol=lastv.volume_number iss=lasti.issue_number %}">Current issue</a>                                                                                                                            
                                                                                                                </li>
                                                                                                                <li><a href="{% url 'index' %}">List of issues</a></li>                                                                                                                </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="width_2_3">
                                                                                                    <div data-pb-dropzone="right" class="pb-autoheight">
                                                                                                        <div class="widget general-html none  widget-none  widget-compact-all" id="433ff597-55d2-4087-a0f5-0d81851ab367">
                                                                                                            <div class="wrapped ">
                                                                                                                <div class="widget-body body body-none  body-compact-all">
                                                                                                                    <ul>
                                                                                                                        </ul></div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget literatumBookIssueNavigation none  widget-none" id="613df098-501e-46af-a4d3-ffb7351c4a9d">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-none ">
                                                                    <div class="pager issueBookNavPager"> <span class="journalNavLeftTd">                    <span class="prev placedLeft">                      </span>                                                                        </span> <span class="journalNavRightTd">            </span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget general-heading none  widget-none" id="6a461cbd-de65-4e32-b5ca-c18580ea1624">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-none ">
                                                                    <div class="page-heading">
                                                                        <h1>Volume 28, Issue 2, 2018</h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget tocListWidget none  widget-none  widget-compact-all" id="36871abb-83d5-4a5d-aa8a-a983789f91f3">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-none  body-compact-all">
                                                                    <div class="tocListWidgetContainer activeWidget">
                                                                        <form name="frmAbs">
                                                                            <section class="tocTools">
                                                                            </section>
                                                                            <div class="tocListtDropZone2" data-pb-dropzone="tocListtDropZone2"> </div>
                                                                            <div class="tocContent">
                                                                                <!--totalCount7-->
                                                                                <!--modified:1559931943000-->
                                                                                <h2 class="tocHeading">
                                                                                    <div class="subject heading-1">Research Article</div>
                                                                                </h2>
                                                                                {% for article in articles %}
                                                                                {% if article.cat == "RA" %}
                                                                                <table border="0" width="100%" class="articleEntry">
                                                                                    <tbody><tr>
                                                                                        <td class="accessIconContainer">
                                                                                            <div><img src="{% static 'Journal/assets/access_no.gif' %}" alt="No Access" title="No Access" class="accessIcon noAccess"></div>
                                                                                            <div class="ccIcon"></div>
                                                                                        </td>
                                                                                        <td align="right" valign="top" width="10"></td>
                                                                                        <td valign="top">
                                                                                            <div class="art_title linkable"><a class="ref nowrap" href="article.html1"><span class="hlFld-Title">{{article.title}}</span></a></div>
                                                                                            <div class="tocAuthors afterTitle">
                                                                                                <div class="articleEntryAuthor all"><span class="articleEntryAuthorsLinks">
                                                                                                {% for author in article.authors %}
                                                                                                <span class="entryAuthor linkable hlFld-ContribAuthor">{{author}} ,</span> 
                                                                                                
                                                                                                {% endfor %}
                                                                                                </span></div>
                                                                                            </div>
                                                                                            <div class="art_meta citation"><span class="issueInfo">28(2)</span><span class="articlePageRange "><span class="issueInfoComma">, </span>pp. 263<span>–</span>292</span>
                                                                                            </div>
                                                                                            <div class="tocListKeywords">
                                                                                                <p class="fulltext">
                                                                                                    <font size="-1"><span class="keywordsLabel">Keywords: </span>
                                                                                                    {% for author in article.keywords %}
                                                                                                    <span class="entryAuthor linkable hlFld-ContribAuthor">{{author}} ,</span> 
                                                                                                    {% endfor %}
                                                                                                    </font>
                                                                                                </p>
                                                                                            </div>
                                                                                            <div class="tocDeliverFormatsLinks"><a class="ref nowrap abs" href="article.html1">Abstract</a> | <a class="ref nowrap references" href="/doi/ref/10.3828/rs.2018.11">References</a> | <a class="ref nowrap pdf" target="_blank" title="Opens new window" href="/doi/pdf/10.3828/rs.2018.11">PDF (508 KB)</a>
                                                                                                <div id="Absrs201811" class="previewViewSection tocPreview">
                                                                                                    <div class="closeButton" onclick="showHideTocPublicationAbs('10.3828/rs.2018.11', 'Absrs201811');"></div>
                                                                                                    <p class="previewContent"></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody></table>
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                                <h2 class="tocHeading">
                                                                                    <div class="subject heading-1">Book Reviews</div>
                                                                                </h2>
                                                                                {% for article in articles %}
                                                                                {% if article.cat == "revs" %}
                                                                                <table border="0" width="100%" class="articleEntry">
                                                                                    <tbody><tr>
                                                                                        <td class="accessIconContainer">
                                                                                            <div><img src="{% static 'Journal/assets/access_no.gif' %}" alt="No Access" title="No Access" class="accessIcon noAccess"></div>
                                                                                            <div class="ccIcon"></div>
                                                                                        </td>
                                                                                        <td align="right" valign="top" width="10"></td>
                                                                                        <td valign="top">
                                                                                            <div class="art_title linkable"><a class="ref nowrap" href="article.html1"><span class="hlFld-Title">{{article.title}}</span></a></div>
                                                                                            <div class="tocAuthors afterTitle">
                                                                                                <div class="articleEntryAuthor all"><span class="articleEntryAuthorsLinks">
                                                                                                {% for author in article.authors %}
                                                                                                <span class="entryAuthor linkable hlFld-ContribAuthor">{{author}} ,</span> 
                                                                                                
                                                                                                {% endfor %}
                                                                                                </span></div>
                                                                                            </div>
                                                                                            <div class="art_meta citation"><span class="issueInfo">{{vol}}({{iss}})</span> 
                                                                                            {% if article.pp %}
                                                                                            <span class="articlePageRange "><span class="issueInfoComma">, </span>pp.
                                                                                            {{article.pp}}
                                                                                            {% endif %}
                                                                                            </span>
                                                                                            </div>
                                                                                            <div class="tocListKeywords">
                                                                                                <p class="fulltext">
                                                                                                {% if article.keywords %}
                                                                                                    <font size="-1"><span class="keywordsLabel">Keywords: </span>
                                                                                                    {% for author in article.keywords %}
                                                                                                    <span class="entryAuthor linkable hlFld-ContribAuthor">{{author}} ,</span> 
                                                                                                    {% endfor %}
                                                                                                    </font>
                                                                                            {% endif %}
                                                                                                </p>
                                                                                            </div>
                                                                                            <div class="tocDeliverFormatsLinks"><a class="ref nowrap abs" href="article.html1">Abstract</a> | <a class="ref nowrap references" href="/doi/ref/10.3828/rs.2018.11">References</a> | <a class="ref nowrap pdf" target="_blank" title="Opens new window" href="/doi/pdf/10.3828/rs.2018.11">PDF (508 KB)</a>
                                                                                                <div id="Absrs201811" class="previewViewSection tocPreview">
                                                                                                    <div class="closeButton" onclick="showHideTocPublicationAbs('10.3828/rs.2018.11', 'Absrs201811');"></div>
                                                                                                    <p class="previewContent"></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody></table>
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                                <h2 class="tocHeading">
                                                                                    <div class="subject heading-1">Index</div>
                                                                                </h2>
                                                                                {% for article in articles %}
                                                                                {% if article.cat == "index" %}
                                                                                <table border="0" width="100%" class="articleEntry">
                                                                                    <tbody><tr>
                                                                                        <td class="accessIconContainer">
                                                                                            <div><img src="{% static 'Journal/assets/access_no.gif' %}" alt="No Access" title="No Access" class="accessIcon noAccess"></div>
                                                                                            <div class="ccIcon"></div>
                                                                                        </td>
                                                                                        <td align="right" valign="top" width="10"></td>
                                                                                        <td valign="top">
                                                                                            <div class="art_title linkable"><a class="ref nowrap" href="article.html1"><span class="hlFld-Title">{{article.title}}</span></a></div>
                                                                                            <div class="tocAuthors afterTitle">
                                                                                                <div class="articleEntryAuthor all"><span class="articleEntryAuthorsLinks">
                                                                                                {% for author in article.authors %}
                                                                                                <span class="entryAuthor linkable hlFld-ContribAuthor">{{author}} ,</span> 
                                                                                                
                                                                                                {% endfor %}
                                                                                                </span></div>
                                                                                            </div>
                                                                                            <div class="art_meta citation"><span class="issueInfo">28(2)</span><span class="articlePageRange "><span class="issueInfoComma">, </span>pp. 263<span>–</span>292</span>
                                                                                            </div>
                                                                                            <div class="tocListKeywords">
                                                                                                <p class="fulltext">
                                                                                                    <font size="-1"><span class="keywordsLabel">Keywords: </span>
                                                                                                    {% for author in article.keywords %}
                                                                                                    <span class="entryAuthor linkable hlFld-ContribAuthor">{{author}} ,</span> 
                                                                                                    {% endfor %}
                                                                                                    </font>
                                                                                                </p>
                                                                                            </div>
                                                                                            <div class="tocDeliverFormatsLinks"><a class="ref nowrap abs" href="article.html1">Abstract</a> | <a class="ref nowrap references" href="/doi/ref/10.3828/rs.2018.11">References</a> | <a class="ref nowrap pdf" target="_blank" title="Opens new window" href="/doi/pdf/10.3828/rs.2018.11">PDF (508 KB)</a>
                                                                                                <div id="Absrs201811" class="previewViewSection tocPreview">
                                                                                                    <div class="closeButton" onclick="showHideTocPublicationAbs('10.3828/rs.2018.11', 'Absrs201811');"></div>
                                                                                                    <p class="previewContent"></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody></table>
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                            </div> </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
{% endblock content %}