{% extends "Journal/base.html" %} {% load static %} {% block content %}
<div class="width_3_3">
                                                    <div data-pb-dropzone="left" class="pb-autoheight">
                                                        <div class="widget layout-two-columns none  widget-emphasis" id="48e48f58-e7d5-4712-8c1c-16ae4ab300a0">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-emphasis ">
                                                                    <div class="pb-columns row-fluid ">
                                                                        <div class="width_1_3">
                                                                            <div data-pb-dropzone="left" class="pb-autoheight">
                                                                                <div class="widget literatumCoverDisplayWidget alignCenter  widget-none" id="03c72dbc-5585-4696-8fc2-1e1a796a0908">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none ">
                                                                                            <div class="publicationCoverImage"> <img src="{% static 'Journal/assets/rost.2018.28.issue-2.cover.jpg' %}" alt="Publication Cover"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="width_2_3">
                                                                            <div data-pb-dropzone="right" class="pb-autoheight">
                                                                                <div class="widget general-heading none  widget-none  widget-compact-all" id="1f5a383a-2741-4c20-a488-fbf02f92eaac">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="page-heading">
                                                                                                <h1>Romani Studies</h1>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget general-heading none  widget-none  widget-compact-all" id="b2c518e9-b04e-47c1-b79e-47926d66de2e">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="page-heading">
                                                                                                <h1></h1>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget literatumSerialDetails none  widget-none  widget-compact-horizontal" id="f0604151-bd03-48e2-9e43-38407dc842cc">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-horizontal"><span class="serial-item serialDetailsIssn">        <span class="serial-title">Print ISSN:</span> 1528-0748</span> <span class="serial-separator"></span> <span class="serial-item serialDetailsEissn">        <span class="serial-title">Online ISSN:</span>                                                                                            1757-2274</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="widget layout-two-columns none  widget-none  widget-compact-all" id="89953490-58b6-4917-bbf5-8a37f45fe4e6">
                                                                                    <div class="wrapped ">
                                                                                        <div class="widget-body body body-none  body-compact-all">
                                                                                            <div class="pb-columns row-fluid ">
                                                                                                <div class="width_1_3">
                                                                                                    <div data-pb-dropzone="left" class="pb-autoheight">
                                                                                                        <div class="widget general-html none  widget-none  widget-compact-all" id="ac73f11d-869d-48f7-bf64-827ad66dc93c">
                                                                                                            <div class="wrapped ">
                                                                                                                <div class="widget-body body body-none  body-compact-all">
                                                                                                                    <ul>
                                                                                                                        <li><a href="issue.html">Current issue</a>
                                                                                                                            </li><li><a href="book.html">List of issues</a></li></ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="width_2_3">
                                                                                                    <div data-pb-dropzone="right" class="pb-autoheight">
                                                                                                        <div class="widget general-html none  widget-none  widget-compact-all" id="433ff597-55d2-4087-a0f5-0d81851ab367">
                                                                                                            <div class="wrapped ">
                                                                                                                <div class="widget-body body body-none  body-compact-all">
                                                                                                                    <ul>
                                                                                                                        <li><a href="http://ebiz.turpin-distribution.com/products/235145-romani-studies-print-and-online.aspx">Subscribe</a>
                                                                                                                </li></ul></div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget literatumBookIssueNavigation none  widget-none" id="613df098-501e-46af-a4d3-ffb7351c4a9d">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-none ">
                                                                    <div class="pager issueBookNavPager"> <span class="journalNavLeftTd">                    <span class="prev placedLeft">                <a href="index.html">                    &lt; Previous issue                </a>            </span>                                                                        </span> <span class="journalNavRightTd">            </span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget general-heading none  widget-none" id="6a461cbd-de65-4e32-b5ca-c18580ea1624">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-none ">
                                                                    <div class="page-heading">
                                                                        <h1>Volume 28, Issue 2, 2018</h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget tocListWidget none  widget-none  widget-compact-all" id="36871abb-83d5-4a5d-aa8a-a983789f91f3">
                                                            <div class="wrapped ">
                                                                <div class="widget-body body body-none  body-compact-all">
                                                                    <div class="tocListWidgetContainer activeWidget">
                                                                        <form name="frmAbs">
                                                                            <section class="tocTools">
                                                                                <fieldset>
                                                                                    <div class="tocListDropZone float-right" data-pb-dropzone="tocListDropZone"> </div>
                                                                                    <div class="jsOnly publicationToolContainer">
                                                                                        <div class="publicationToolCheckboxContainer"> <input onclick="onClickMarkAll(frmAbs,'')" id="markall" type="checkbox" name="markall" value=""><span>Select All</span> </div>
                                                                                        <div class="publicationTooldropdownContainer">
                                                                                            <span class="dropdownLabel">            For selected items:        </span> <select name="articleTool" class="items-choice publicationToolSelect" title="Article Tools"><option value="">Please select</option><option value="/personalize/addFavoritePublication">Add to Favorites</option><option value="/action/addCitationAlert?referrer=%2Ftoc%2Frost%2Fcurrent">Track Citation</option><option value="/action/showCitFormats">Download Citation</option><option value="/action/showMailPage">Email</option></select>                                                                                            </div>
                                                                                    </div>
                                                                                </fieldset>
                                                                            </section>
                                                                            <div class="tocListtDropZone2" data-pb-dropzone="tocListtDropZone2"> </div>
                                                                            <div class="tocContent">
                                                                                <!--totalCount7-->
                                                                                <!--modified:1559931943000-->
                                                                                <h2 class="tocHeading">
                                                                                    <div class="subject heading-1">Research Article</div>
                                                                                </h2>
                                                                                <table border="0" width="100%" class="articleEntry">
                                                                                    <tbody><tr>
                                                                                        <td class="accessIconContainer">
                                                                                            <div><img src="{% static 'Journal/assets/access_no.gif' %}" alt="No Access" title="No Access" class="accessIcon noAccess"></div>
                                                                                            <div class="ccIcon"></div>
                                                                                        </td>
                                                                                        <td align="right" valign="top" width="10"><input class="jsOnly tocToolCheckBox" type="checkbox" name="doi" value="10.3828/rs.2018.11"><br></td>
                                                                                        <td valign="top">
                                                                                            <div class="art_title linkable"><a class="ref nowrap" href="article.html1"><span class="hlFld-Title">Variation between the copula <i>si</i> “to be” and the <i>l</i>-clitics in Romani spoken in Mexico</span></a></div>
                                                                                            <div class="tocAuthors afterTitle">
                                                                                                <div class="articleEntryAuthor all"><span class="articleEntryAuthorsLinks"><a class="entryAuthor linkable hlFld-ContribAuthor" href="/author/Padure%2C+Cristian">Cristian Padure</a> <a class="entryAuthor linkable hlFld-ContribAuthor" href="/author/de+Pascale%2C+Stefano">Stefano De Pascale</a> <a class="entryAuthor linkable hlFld-ContribAuthor" href="/author/Adamou%2C+Evangelia">Evangelia Adamou</a></span></div>
                                                                                            </div>
                                                                                            <div class="art_meta citation"><span class="issueInfo">28(2)</span><span class="articlePageRange "><span class="issueInfoComma">, </span>pp. 263<span>–</span>292</span>
                                                                                            </div>
                                                                                            <div class="tocListKeywords">
                                                                                                <p class="fulltext">
                                                                                                    <font size="-1"><span class="keywordsLabel">Keywords: </span><a href="/keyword/Romani">Romani</a>, <a href="/keyword/Mexico">Mexico</a>, <a href="/keyword/Spanish">Spanish</a>,
                                                                                                        <a href="/keyword/Variation">variation</a>,
                                                                                                        <a href="/keyword/Attributive+Clauses">attributive clauses</a></font>
                                                                                                </p>
                                                                                            </div>
                                                                                            <div class="tocDeliverFormatsLinks"><a class="ref nowrap abs" href="article.html1">Abstract</a> | <a class="ref nowrap references" href="/doi/ref/10.3828/rs.2018.11">References</a> | <a class="ref nowrap pdf" target="_blank" title="Opens new window" href="/doi/pdf/10.3828/rs.2018.11">PDF (508 KB)</a>
                                                                                                <div id="Absrs201811" class="previewViewSection tocPreview">
                                                                                                    <div class="closeButton" onclick="showHideTocPublicationAbs('10.3828/rs.2018.11', 'Absrs201811');"></div>
                                                                                                    <p class="previewContent"></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody></table>
                                                                                <h2 class="tocHeading">
                                                                                    <div class="subject heading-1">Book Reviews</div>
                                                                                </h2>
                                                                                <table border="0" width="100%" class="articleEntry">
                                                                                    <tbody><tr>
                                                                                        <td class="accessIconContainer">
                                                                                            <div><img src="{% static 'Journal/assets/access_no.gif' %}" alt="No Access" title="No Access" class="accessIcon noAccess"></div>
                                                                                            <div class="ccIcon"></div>
                                                                                        </td>
                                                                                        <td align="right" valign="top" width="10"><input class="jsOnly tocToolCheckBox" type="checkbox" name="doi" value="10.3828/rs.2018.12"><br></td>
                                                                                        <td valign="top">
                                                                                            <div class="art_title linkable"><a class="ref nowrap" href="article.html2"><span class="hlFld-Title">Reviews</span></a></div>
                                                                                            <div class="tocAuthors afterTitle">
                                                                                                <div class="articleEntryAuthor all"><span class="articleEntryAuthorsLinks"><a class="entryAuthor linkable hlFld-ContribAuthor" href="/author/Hajn%C3%A1czky%2C+Tam%C3%A1s">Tamás Hajnáczky</a> <a class="entryAuthor linkable hlFld-ContribAuthor" href="/author/O%27Nions%2C+Helen">Helen O’Nions</a></span></div>
                                                                                            </div>
                                                                                            <div class="art_meta citation"><span class="issueInfo">28(2)</span><span class="articlePageRange "><span class="issueInfoComma">, </span>pp. 293<span>–</span>301</span>
                                                                                            </div>
                                                                                            <div class="tocListKeywords"></div>
                                                                                            <div class="tocDeliverFormatsLinks"><a class="ref nowrap abs" href="article.html2">Citation</a> | <a class="ref nowrap pdf" target="_blank" title="Opens new window" href="/doi/pdf/10.3828/rs.2018.12">PDF (95 KB)</a>
                                                                                                <div id="Absrs201812" class="previewViewSection tocPreview">
                                                                                                    <div class="closeButton" onclick="showHideTocPublicationAbs('10.3828/rs.2018.12', 'Absrs201812');"></div>
                                                                                                    <p class="previewContent"></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody></table>
                                                                                <h2 class="tocHeading">
                                                                                    <div class="subject heading-1">Index</div>
                                                                                </h2>
                                                                                <table border="0" width="100%" class="articleEntry">
                                                                                    <tbody><tr>
                                                                                        <td class="accessIconContainer">
                                                                                            <div><img src="{% static 'Journal/assets/access_no.gif' %}" alt="No Access" title="No Access" class="accessIcon noAccess"></div>
                                                                                            <div class="ccIcon"></div>
                                                                                        </td>
                                                                                        <td align="right" valign="top" width="10"><input class="jsOnly tocToolCheckBox" type="checkbox" name="doi" value="10.3828/rs.2018.13"><br></td>
                                                                                        <td valign="top">
                                                                                            <div class="art_title linkable"><a class="ref nowrap" href="article.html3"><span class="hlFld-Title">Index to Volume 28</span></a></div>
                                                                                            <div class="art_meta citation"><span class="issueInfo">28(2)</span><span class="articlePageRange "><span class="issueInfoComma">, </span>pp. 303<span>–</span>304</span>
                                                                                            </div>
                                                                                            <div class="tocListKeywords"></div>
                                                                                            <div class="tocDeliverFormatsLinks"><a class="ref nowrap abs" href="article.html3">Citation</a> | <a class="ref nowrap pdf" target="_blank" title="Opens new window" href="/doi/pdf/10.3828/rs.2018.13">PDF (69 KB)</a>
                                                                                                <div id="Absrs201813" class="previewViewSection tocPreview">
                                                                                                    <div class="closeButton" onclick="showHideTocPublicationAbs('10.3828/rs.2018.13', 'Absrs201813');"></div>
                                                                                                    <p class="previewContent"></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody></table>
                                                                            </div> <input type="hidden" name="href" value="issue.html"> <input type="hidden" name="title" value="Romani Studies (2018)"> </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
{% endblock content %}