each year :
<div class="volume-list decade slider">
    <!-- years-->
    <a href="#" data-attr-vol="2000" class="title opener">2000 - 2009</a>
    <div class="block expandable years issues">
        <div class="volume-list slider" id="19">
            <!-- volumes -->
            <a class="opener" data-attr-vol="19" href="#">Volume 19</a>
            <div class="block">
                <div class="issue row js_issue" data-year="2009" data-volume="19">
                    <!-- issue -->
                    <span class="access loiAccessIconSpan">
                                  <img src="assets/access_no.gif" alt="No Access" title="No Access" class="accessIcon noAccess">
                                </span>
                    <a href="issue.html">
                                  Volume 19, Issue 2
                                </a>
                    <span class="loiIssueCoverDateText">
                                  (December 2009,
                                </span>
                    <span class="loiIssuePages">
                                  pp. 87–193).
                                </span>
                </div>
                <!-- end issue -->
                <div class="issue row js_issue" data-year="2009" data-volume="19">
                    <!-- issue -->
                    <span class="access loiAccessIconSpan">
                                  <img src="assets/access_no.gif" alt="No Access" title="No Access" class="accessIcon noAccess">
                                </span>
                    <a href="issue.html">
                                  Volume 19, Issue 1
                                </a>
                    <span class="loiIssueCoverDateText">
                                  (December 2009,
                                </span>
                    <span class="loiIssuePages">
                                  pp. 1–86).
                                </span>
                </div>
                <!-- end issue -->
            </div>
        </div>
        <!--  end volumes -->


    </div>
</div>